<section class="service-solution">
  <div class="container">
    <div class="service-header">
      <h2>Komplettlösung</h2>
      <div class="service-divider"></div>
    </div>

    <div class="service-content">
      <div class="service-description">
        <p>
          Wir bieten Ihnen DIE Komplettlösung für Ihr neues oder zu erweiterndes Lackierunternehmen.
          Dazu zählen die Planung, Realisierung und Inbetriebnahme der Gewerke Lackierung, Heizung,
          Sanitär, Elektro sowie alle Komponenten der Drucklufterzeugung, -verteilung und -aufbereitung.
          Bei notwendigen Betonarbeiten einschließlich Einschal- und Schneidarbeiten sind wir ebenfalls
          der richtige Ansprechpartner. Farbmischräume und Lagersysteme erhalten Sie auf Wunsch aus einer Hand.
        </p>
      </div>

      <div class="service-cabinets">
        <h3>Unsere Kabinen-Serien</h3>
        <div class="cabinet-grid">
          <div class="cabinet-item">
            <div class="cabinet-image">
              <img src="../../assets/cabines/cabina_excel_s.png" alt="Excel Lackierkabine">
            </div>
            <h4>Excel</h4>
          </div>
          <div class="cabinet-item">
            <div class="cabinet-image">
              <img src="../../assets/cabines/cabina_empress_s.png" alt="Empress Lackierkabine">
            </div>
            <h4>Empress</h4>
          </div>
          <div class="cabinet-item">
            <div class="cabinet-image">
              <img src="../../assets/cabines/cabina_conquer_poly_s.png" alt="Conquer Poly Lackierkabine">
            </div>
            <h4>Conquer Poly</h4>
          </div>
          <div class="cabinet-item">
            <div class="cabinet-image">
              <img src="../../assets/cabines/cabina_conquer_s.png" alt="Conquer Lackierkabine">
            </div>
            <h4>Conquer</h4>
          </div>
          <div class="cabinet-item">
            <div class="cabinet-image">
              <img src="../../assets/cabines/cabina_prestige_s.png">
            </div>
            <h4>Prestige</h4>
          </div>
          <div class="cabinet-item">
            <div class="cabinet-image">
              <img src="../../assets/cabines/cabina_super_prestige_s.png" alt="Super Prestige Lackierkabine">
            </div>
            <h4>Super Prestige</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Neuanlagen Section -->
<section class="service-section nova-verta">
  <div class="container">
    <br><br>
    <div class="service-header">
      <h2>Neuanlagen</h2>
      <div class="service-divider"></div>
    </div>

    <div class="service-content">
      <div class="service-description">
        <p>
          Als Generalimporteur des Lackieranlagenherstellers NOVA VERTA vertreiben wir kombinierte oder
          einzeln stehende Lackier- und Trocknungsanlagen für:
        </p>

        <ul class="industrial-list">
          <li><i class="fas fa-cog"></i> Kleinteile</li>
          <li><i class="fas fa-car"></i> PKW- und Kleinbusse</li>
          <li><i class="fas fa-van-shuttle"></i> Hochdach-Vans</li>
          <li><i class="fas fa-truck"></i> Großfahrzeuge wie LKW, Omnibusse, Boote, Yachten, Flugzeuge</li>
          <li><i class="fas fa-industry"></i> Industrie</li>
        </ul>

        <div class="service-image">
          <img src="../../assets/static/ITALY-RIVA-BOAT-BOOTH.jpg" alt="NOVA VERTA Anlagensystem">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modernisierung Section -->
<section class="service-section modernization">
  <div class="container">
    <div class="service-header">
      <br><br>
      <h2>Modernisierung</h2>
      <div class="service-divider"></div>
    </div>

    <div class="service-content reverse">
      <div class="service-description">
        <p>
          Des Weiteren unterstützen wir Sie gern bei der Modernisierung Ihrer bestehenden Anlage.
          Zum Beispiel bieten wir für energieeffizientes Arbeiten die Umrüstung der Zu- und Abluftbaugruppen
          auf moderne Frequenzumformertechnik.
        </p>

        <div class="modernization-features">
          <div class="feature">
            <div class="feature-icon">
              <i class="fas fa-lightbulb"></i>
            </div>
            <p>Lackierkabinenbeleuchtung auf modernste LED-Technik</p>
          </div>

          <div class="feature">
            <div class="feature-icon">
              <i class="fas fa-fire"></i>
            </div>
            <p>Ersatz alter Öl- und Gasbrenner durch hocheffiziente Gasflächenbrenner</p>
          </div>

          <div class="feature">
            <div class="feature-icon">
              <i class="fas fa-plug"></i>
            </div>
            <p>Nur Erdgasanschluss oder Flüssiggastank notwendig</p>
          </div>
        </div>
        <div class="service-image">
          <img src="assets/modernization.jpg" alt="Modernisierte Lackieranlage">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ergonomie Section -->
<section class="service-section ergonomics">
  <div class="container">
    <div class="service-header">
      <br><br>
      <h2>Ergonomie</h2>
      <div class="service-divider"></div>
    </div>

    <div class="service-content">
      <div class="service-description">
        <p>
          Für ergonomisches Arbeiten haben wir mobile und stationäre Fahrzeughebetechnik, sowohl für die
          Lackiervorbereitung außerhalb der Kabine als auch für das Lackieren in der Kabine, im Angebot.
        </p>

        <ul class="feature-list">
          <li>Stolperkantenlose Integration in Kabinenfußboden</li>
          <li>Passgenau in mittlere Berostung ohne Fußbodenumbau</li>
          <li>Vielfältige Hubhöhen für unterschiedliche Fahrzeugtypen</li>
          <li>Wartungsarme und langlebige Technik</li>
        </ul>
        <div class="service-image">
          <img src="../../assets/static/ergonomie.jpg" alt="Fahrzeughebetechnik">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Gebrauchtes Section -->
<section class="service-section used-equipment">
  <div class="container">
    <div class="service-header">
      <br><br>
      <h2>Gebrauchtes</h2>
      <div class="service-divider"></div>
    </div>

    <div class="service-content reverse">
      <div class="service-description">
        <p>
          Für Sparfüchse und Newcomer in der Lackierszene haben wir einige interessante Gebrauchtanlagen
          und Einzelteile.
        </p>

        <div class="used-items-grid">
          <div class="used-item">
            <h4><i class="fas fa-paint-roller"></i> Komplette Lackierkabinen</h4>
            <p>Geprüfte Systeme mit Restlebensdauer</p>
          </div>

          <div class="used-item">
            <h4><i class="fas fa-fan"></i> Zu- und Abluftbaugruppen</h4>
            <p>Einzelkomponenten für Ihre Modernisierung</p>
          </div>

          <div class="used-item">
            <h4><i class="fas fa-compress"></i> Kompressoren</h4>
            <p>Gebrauchte Drucklufterzeuger</p>
          </div>

          <div class="used-item">
            <h4><i class="fas fa-filter"></i> Druckluftaufbereitung</h4>
            <p>Qualitätskomponenten zum Sonderpreis</p>
          </div>
        </div>
        <div class="service-image">
          <img src="../../assets/cabines/cabine500x500.jpg" alt="Gebrauchte Lackieranlagen">
        </div>
      </div>


    </div>
  </div>
</section>
