<header class="header">
  <div class="header-container">
    <div class="logo">
      <!--
      <img src="../../assets/logos/novavertaLogo.png" alt="Company Logo">-->
      <img src="../../assets/logos/novalogo.png" alt="Company Logo">
    </div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Produkte</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/montage">Montage</a></li>

        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="cart">
      <a routerLink="/cart">
        <img src="../../assets/products/pic1.avif" alt="Cart">
        <span class="cart-count">0</span>
      </a>
    </div>
  </div>
</header>
