<section class="contact">
  <div class="container">
    <h2>Kontaktieren Sie uns</h2>
    <form class="contact-form">
      <div class="form-group">
        <input type="text" placeholder="Ihr Name" class="form-input" id="nameInput">
      </div>
      <div class="form-group">
        <input type="email" placeholder="Ihre E-Mail" class="form-input" id="emailInput">
      </div>
      <div class="form-group">
        <textarea placeholder="Ihre Nachricht" rows="5" class="form-input" id="emailContent"></textarea>
      </div>
      <button class="primary-btn" (click)="sendMessage()">Nachricht senden</button>
    </form>
  </div>
</section>
