<footer class="footer bg-dark text-white py-5">
  <div class="container">
    <div class="footer-content d-flex flex-wrap justify-content-between">
      <div class="footer-info">
        <h4>Phönix Industriedienstleistungen GmbH</h4>
        <p>📍 OT Bitterfeld, Nördl. Marienstraße 6a, 06749 Bitterfeld-Wolfen</p>
        <p>Geschäftsführer: Michael Frühauf</p>
        <p>Ust.-ID: DE 275 957 382</p>
      </div>

      <div class="footer-links d-flex flex-wrap">
        <div class="footer-column">
          <h4>Unternehmen</h4>
          <a href="#">Über uns</a>
          <a href="#">Karriere</a>
          <a href="#">Presse</a>
        </div>
        <div class="footer-column">
          <h4>Rechtliches</h4>
          <a href="#">Datenschutz</a>
          <a href="#">AGB</a>
          <a href="#">Impressum</a>
        </div>
        <div class="footer-column">
          <h4>Kontakt</h4>
          <p>📞 +49(0) 1781402673</p>
          <p>📧 <a href="mailto:ITC-MAK@mail.de">ITC-MAKAT64mail.de</a></p>
        </div>
      </div>
    </div>

    <div class="copyright text-center mt-4 pt-3 border-top">
      <p>&copy; 2025 Phönix Industriedienstleistungen GmbH. Alle Rechte vorbehalten.</p>
    </div>
  </div>
</footer>
